<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bjzhianjia.scp.party.mapper.ExportLogMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.bjzhianjia.scp.party.entity.ExportLog" id="exportLogMap">
        <result property="id" column="id"/>
        <result property="partyMemId" column="party_mem_id"/>
        <result property="exportDate" column="export_date"/>
        <result property="exportCause" column="export_cause"/>
        <result property="exeportStatus" column="exeport_status"/>
        <result property="importDate" column="import_date"/>
        <result property="importStatus" column="import_status"/>
        <result property="crtUserId" column="crt_user_id"/>
        <result property="crtUserName" column="crt_user_name"/>
        <result property="crtTime" column="crt_time"/>
        <result property="updUserId" column="upd_user_id"/>
        <result property="updUserName" column="upd_user_name"/>
        <result property="updTime" column="upd_time"/>
        <result property="departId" column="depart_id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

</mapper>