<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bjzhianjia.scp.party.mapper.PartyOrgMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.bjzhianjia.scp.party.entity.PartyOrg" id="partyOrgMap">
        <result property="id" column="id"/>
        <result property="orgCode" column="org_code"/>
        <result property="orgFullName" column="org_full_name"/>
        <result property="orgShortName" column="org_short_name"/>
        <result property="orgType" column="org_type"/>
        <result property="orgBuildDate" column="org_build_date"/>
        <result property="orgChangeDate" column="org_change_date"/>
        <result property="orgRealChangeDate" column="org_real_change_date"/>
        <result property="orgCommitteeCount" column="org_committee_count"/>
        <result property="orgMemberCount" column="org_member_count"/>
        <result property="orgFullCount" column="org_full_count"/>
        <result property="orgProbationaryCount" column="org_probationary_Count"/>
        <result property="orgActivistCount" column="org_activist_count"/>
        <result property="parentId" column="parent_id"/>
        <result property="crtUserId" column="crt_user_id"/>
        <result property="crtUserName" column="crt_user_name"/>
        <result property="crtTime" column="crt_time"/>
        <result property="updUserId" column="upd_user_id"/>
        <result property="updUserName" column="upd_user_name"/>
        <result property="updTime" column="upd_time"/>
        <result property="departId" column="depart_id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="mapInfo" column="map_info"/>
    </resultMap>

</mapper>