<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bjzhianjia.scp.cgp.mapper.AreaGridMapper">

	<!-- 可根据自己的需求，是否要使用 -->
	<resultMap type="com.bjzhianjia.scp.cgp.entity.AreaGrid"
		id="areaGridMap">
		<result property="id" column="id" />
		<result property="gridCode" column="grid_code" />
		<result property="gridName" column="grid_name" />
		<result property="gridLevel" column="grid_level" />
		<result property="gridParent" column="grid_parent" />
		<result property="gridTeam" column="grid_team" />
		<result property="gridNumbers" column="grid_numbers" />
		<result property="gridHousehold" column="grid_household" />
		<result property="gridPersons" column="grid_persons" />
		<result property="gridAreas" column="grid_areas" />
		<result property="gridRange" column="grid_range" />
		<result property="mgrDept" column="mgr_dept" />
		<result property="mapInfo" column="map_info" />
		<result property="isDeleted" column="is_deleted" />
		<result property="isDisabled" column="is_disabled" />
		<result property="crtUserName" column="crt_user_name" />
		<result property="crtUserId" column="crt_user_id" />
		<result property="crtTime" column="crt_time" />
		<result property="updUserName" column="upd_user_name" />
		<result property="updUserId" column="upd_user_id" />
		<result property="updTime" column="upd_time" />
		<result property="tenantId" column="tenant_id" />
	</resultMap>

	<!-- 网格全部定位 -->
    <select id="allPotition" resultMap="areaGridMap">
        select id,grid_name,map_info from area_grid
        <where>
            is_deleted='0'
            <if test="areaGrid.gridLevel!=null and areaGrid.gridLevel != ''">
                and grid_level=#{areaGrid.gridLevel}
            </if>
        </where>
    </select>
	<!--  通过用户ids获取网格信息列表-->
	<select id="selectByUserIds" resultType="java.util.Map">
		SELECT
			ag.id gridId,
			ag.grid_name gridName,
			agm.grid_member userId,
			agm.grid_role gridRole
		FROM
			area_grid ag
		INNER JOIN area_grid_member agm ON agm.grid_id = ag.id
		WHERE
			agm.is_deleted = 0
		AND agm.is_disabled = 0
		AND agm.grid_member IN
		<foreach collection="userIds" item="userId" open="(" separator="," close=")">
			#{userId}
		</foreach>
	</select>
</mapper>