<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.bjzhianjia.scp.cgp.mapper.AreaGridMemberMapper">

	<!-- 可根据自己的需求，是否要使用 -->
	<resultMap
		type="com.bjzhianjia.scp.cgp.entity.AreaGridMember"
		id="areaGridMemberMap">
		<result property="id" column="id" />
		<result property="gridId" column="grid_id" />
		<result property="gridMember" column="grid_member" />
		<result property="gridRole" column="grid_role" />
		<result property="isDeleted" column="is_deleted" />
		<result property="isDisabled" column="is_disabled" />
		<result property="crtUserName" column="crt_user_name" />
		<result property="crtUserId" column="crt_user_id" />
		<result property="crtTime" column="crt_time" />
		<result property="updUserName" column="upd_user_name" />
		<result property="updUserId" column="upd_user_id" />
		<result property="updTime" column="upd_time" />
		<result property="tenantId" column="tenant_id" />
	</resultMap>

	<insert id="insertAreaGridMemberList" parameterType="java.util.List">
		INSERT INTO area_grid_member (
		area_grid_member.grid_id,
		area_grid_member.`grid_member`,
		area_grid_member.`grid_role`,
		area_grid_member.`crt_user_name`,
		area_grid_member.`crt_user_id`,
		area_grid_member.`crt_time`,
		area_grid_member.`tenant_id`)
		VALUES
		<foreach collection="areaGridMembers" index="index" item="item"
			separator=",">
			(
			#{item.gridId},
			#{item.gridMember},
			#{item.gridRole},
			#{item.crtUserName},
			#{item.crtUserId},
			#{item.crtTime},
			#{item.tenantId}
			)
		</foreach>
	</insert>
	
	<update id="deleteByGridId">
    	update area_grid_member set upd_user_id=#{updUserId},upd_user_name=#{updUserName},upd_time=#{updTime},is_deleted = '1' 
    	where grid_id= #{id}
    </update>
    
    <select id="countOfAreaMember" resultType="java.lang.Integer">
    	SELECT COUNT(*) FROM(
		SELECT DISTINCT(grid_member) FROM area_grid_member
		WHERE is_deleted='0'
		) d_c
    </select>

	<select id="distinctGridMember" resultType="java.lang.String">
		SELECT DISTINCT(area_grid_member.grid_member) FROM area_grid_member WHERE is_deleted='0'
	</select>

	<select id="getListExcludeRole" resultType="com.bjzhianjia.scp.cgp.entity.AreaGridMember">
		select ag.id gridId,member.gridMember
		from area_grid ag
		inner join (
			SELECT grid_id id,grid_member gridMember FROM area_grid_member
			WHERE is_deleted='0'
			<if test="areaGridMember.gridMember != null and areaGridMember.gridMember !=''">
				AND grid_member IN (
				${areaGridMember.gridMember}
				)
			</if>
			GROUP BY grid_id,grid_member
		) member on member.id=ag.id
	</select>
</mapper>