<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bjzhianjia.scp.cgp.mapper.CaseInfoMapper">

	<!-- 可根据自己的需求，是否要使用 -->
	<resultMap type="com.bjzhianjia.scp.cgp.entity.CaseInfo"
		id="caseInfoMap">
		<result property="id" column="id" />
		<result property="sourceType" column="source_type" />
		<result property="sourceCode" column="source_code" />
		<result property="caseCode" column="case_code" />
		<result property="caseTitle" column="case_title" />
		<result property="caseDesc" column="case_desc" />
		<result property="regulaObjList" column="regula_obj_list" />
		<result property="concernedPerson" column="concerned_person" />
		<result property="bizList" column="biz_list" />
		<result property="eventTypeList" column="event_type_list" />
		<result property="grid" column="grid" />
		<result property="occurAddr" column="occur_addr" />
		<result property="mapInfo" column="map_info" />
		<result property="checkIsExist" column="check_is_exist" />
		<result property="checkTime" column="check_time" />
		<result property="checkPerson" column="check_person" />
		<result property="checkOpinion" column="check_opinion" />
		<result property="checkPic" column="check_pic" />
		<result property="checkVideo" column="check_video" />
		<result property="deadLine" column="dead_line" />
		<result property="executeDept" column="execute_dept" />
		<result property="requirements" column="requirements" />
		<result property="approveInfo" column="approve_info" />
		<result property="finishCheckIsExist"
			column="finish_check_is_exist" />
		<result property="finishCheckTime" column="finish_check_time" />
		<result property="finishCheckPerson"
			column="finish_check_person" />
		<result property="finishCheckOpinion"
			column="finish_check_opinion" />
		<result property="finishCheckPic" column="finish_check_pic" />
		<result property="finishCheckVideo" column="finish_check_video" />
		<result property="finishPerson" column="finish_person" />
		<result property="finishTime" column="finish_time" />
		<result property="finishDesc" column="finish_desc" />
		<result property="replyPerson" column="reply_person" />
		<result property="replyTime" column="reply_time" />
		<result property="replyDesc" column="reply_desc" />
		<result property="isDeleted" column="is_deleted" />
		<result property="crtTime" column="crt_time" />
		<result property="crtUserId" column="crt_user_id" />
		<result property="crtUserName" column="crt_user_name" />
		<result property="updTime" column="upd_time" />
		<result property="updUserId" column="upd_user_id" />
		<result property="updUserName" column="upd_user_name" />
		<result property="tenantId" column="tenant_id" />
		<result property="departId" column="depart_id" />
	</resultMap>

	<!-- 拼接不为空的事件参数 -->
	<sql id="isParamNull">
		<!-- 未删除 -->
		is_deleted=0
		<!-- 业务线条 -->
		<if test="caseInfo.bizList != null and caseInfo.bizList != ''">
			and biz_list=#{caseInfo.bizList}
		</if>
		<!-- 事件类别 -->
		<if
			test="caseInfo.eventTypeList != null and caseInfo.eventTypeList != ''">
			and event_type_list=#{caseInfo.eventTypeList}
		</if>
		<!-- 网格范围（网格ids） -->
		<if test="gridIds != null and gridIds != ''">
			and grid in (#{gridIds})
		</if>
		<!-- 事件来源 -->
		<if
			test="caseInfo.sourceType != null and caseInfo.sourceType != ''">
			and source_type=#{caseInfo.sourceType}
		</if>
		<!-- 事件级别 -->
		<if test="caseInfo.caseLevel != null and caseInfo.caseLevel != ''">
			and case_level=#{caseInfo.caseLevel}
		</if>
		<!-- 日期范围（开始时间和结束时间） -->
		<if test="startTime !=null and startTime!='' ">
			<if test="endTime !=null and endTime!='' ">
					<![CDATA[
					and #{startTime}<=crt_time and crt_time <= #{endTime}
					]]>
			</if>
		</if>
	</sql>

	<!-- 事件来源分布统计 -->
	<select id="getStatisEventSource" resultType="java.util.Map">
		SELECT
		source_type as sourceType,
		count(*) as count
		FROM
		case_info
		WHERE
		<include refid="isParamNull" />
		GROUP BY
		source_type
	</select>
	<select id="getStatisCaseInfo" resultType="java.util.Map">
		SELECT
		cyear,
		cmonth,
		total,
		MAX( CASE caseLevel WHEN 'root_biz_eventLevel_teji' THEN count ELSE 0 END ) root_biz_eventLevel_teji,
		MAX( CASE caseLevel WHEN 'root_biz_eventLevel_jinji' THEN count ELSE 0 END ) root_biz_eventLevel_jinji,
		MAX( CASE caseLevel WHEN 'root_biz_eventLevel_normal' THEN count ELSE 0 END ) root_biz_eventLevel_normal
		FROM
			(
				SELECT
					caseInfo1.cyear cyear,
					caseInfo1.cmonth cmonth,
					caseInfo1.caseLevel caseLevel,
					caseInfo1.count count,
					caseInfo2.total total
				FROM
					(
						SELECT
							YEAR (crt_time) cyear,
							MONTH (crt_time) cmonth,
							case_level caseLevel,
							count(*) count
						FROM
							case_info
						WHERE
						<include refid="isParamNull"/>
						GROUP BY
							cyear,
							cmonth,
							case_level
					) caseInfo1
				LEFT JOIN (
					SELECT
						YEAR (crt_time) cyear,
						MONTH (crt_time) cmonth,
						count(*) total
					FROM
						case_info
					GROUP BY
						cyear,
						cmonth
				) caseInfo2 ON caseInfo1.cyear = caseInfo2.cyear
				AND caseInfo1.cmonth = caseInfo2.cmonth
			) temp
		GROUP BY
			cyear,
			cmonth,
			total
	</select>

	<!-- 事件超时数 -->
	<select id="selectOvertime" resultType="int">
		SELECT
		count(*) overtime
		FROM
		case_info
		WHERE
		<include refid="isParamNull" />
		<!-- 有期限时间 -->
		and dead_line IS NOT NULL
		AND (
		<!-- 处理中的超时 -->
		(
		is_finished = 0
		AND NOW() >
		dead_line
		)
		<!-- 已完成、已终止的超时 -->
		OR (
		is_finished IN (1, 2)
		AND finish_time > dead_line
		)
		)

	</select>
	<!-- 处理中、已完成、已终止统计 -->
	<select id="selectState" resultType="java.util.Map">
		SELECT
		is_finished as state,
		count(*) count
		FROM
		case_info
		WHERE
		<include refid="isParamNull" />
		GROUP BY
		is_finished
	</select>

	<!-- 业务条线分布统计 -->
	<select id="selectBizLine" resultType="java.util.Map">
		SELECT
		biz_list bizList,
		count(*) count
		FROM
		case_info
		WHERE
		is_deleted=0
		<!-- 业务线条 -->
		<if test="caseInfo.bizList != null and caseInfo.bizList != ''">
			and biz_list=#{caseInfo.bizList}
		</if>
		<!-- 事件类别 -->
		<if
				test="caseInfo.eventTypeList != null and caseInfo.eventTypeList != ''">
			and event_type_list=#{caseInfo.eventTypeList}
		</if>
		<!-- 事件来源 -->
		<if
				test="caseInfo.sourceType != null and caseInfo.sourceType != ''">
			and source_type=#{caseInfo.sourceType}
		</if>
		<!-- 事件级别 -->
		<if test="caseInfo.caseLevel != null and caseInfo.caseLevel != ''">
			and case_level=#{caseInfo.caseLevel}
		</if>
		<!-- 日期范围（开始时间和结束时间） -->
		<if test="startTime !=null and startTime!='' ">
			<if test="endTime !=null and endTime!='' ">
				<![CDATA[
					and #{startTime}<=crt_time and crt_time <= #{endTime}
					]]>
			</if>
		</if>
		<if test="gridIdSet !=null and gridIdSet.size() > 0">
			and grid in (
			<foreach collection="gridIdSet" item="item" separator=",">
				#{item}
			</foreach>
			)
		</if>
		GROUP BY
		biz_list
	</select>

	<!-- 按网格查询事件分布 -->
	<select id="selectByGrid" resultType="com.alibaba.fastjson.JSONObject">

		SELECT
		grid,
		gridCode,
		gridName,
		gridLevel,
		IFNULL(gridParentCode,'') gridParentCode,
		IFNULL(gridParentName,'') gridParentName,
		IFNULL(total_,0) total_,
		MAX(CASE isFinished WHEN '0' THEN count_ ELSE 0 END ) stateTodo,
		MAX(CASE isFinished WHEN '1' THEN count_ ELSE 0 END ) stateFinish,
		MAX(CASE isFinished WHEN '2' THEN count_ ELSE 0 END ) stateStop,
		IFNULL(overtimeCount,0) overtimeCount
		FROM(

SELECT
					ag1.id grid,
					ag1.grid_code gridCode,
					ag1.grid_name gridName,
					ag1.grid_level gridLevel,
					ag2.grid_code gridParentCode,
					ag2.grid_name gridParentName,
					total_,
					is_finished isFinished,
					count_,
					overtimeCount
				FROM
				area_grid ag1

LEFT JOIN (
SELECT
						grid,
						COUNT(id) overtimeCount
					FROM
						case_info
					WHERE
						dead_line IS NOT NULL
					AND (
						(
							is_finished = 0
							AND NOW() > dead_line
						)
						OR (
							is_finished IN (1, 2)
							AND finish_time > dead_line
						)
					)
					GROUP BY
						grid) c ON c.grid=ag1.id

						LEFT JOIN(

SELECT
						grid,
						COUNT(id) total_
					FROM
						case_info
					GROUP BY
						grid) g_m ON g_m.grid=ag1.id

						LEFT JOIN (

SELECT
						grid,
						is_finished,
						COUNT(id) count_
					FROM
						case_info

						WHERE
				<include refid="isParamNull"/>

					GROUP BY
						grid,
						is_finished) g_e ON g_e.grid=ag1.id

						LEFT JOIN area_grid ag2 ON ag2.`id`=ag1.`grid_parent`
						WHERE
			            ag1.grid_level =#{gridLevel}
                        <!-- 使用网格表左连接其他表，保证网格表数据干净，需要剔除被删除的记录 -->
                        AND ag1.is_deleted='0') tmp
						GROUP BY
			grid,
			gridCode,
			gridName,
			gridLevel,
			gridParentCode,
			gridParentName,
			total_,
			overtimeCount
		ORDER BY
			total_ DESC

	</select>
	<!-- 通过部门id查询事件列表 -->
	<select id="selectCaseInfoByDeptId" resultType="java.util.Map">
		SELECT
			id,
			crt_time crtTime,
			case_title caseTitle,
			case_level caseLevel,
			is_supervise isSupervise,
			is_urge isUrge
		FROM
			case_info
		WHERE
			is_deleted = 0
		AND is_finished = 0
		AND execute_dept = #{deptId}
		<if test="caseLevel != null and caseLevel!='' ">
			AND case_level = #{caseLevel}
		</if>
		ORDER BY
			crt_time DESC
	</select>

	<select id="getGridZFPQ" resultType="com.alibaba.fastjson.JSONObject">
		SELECT COUNT(*) ccount,zfqpName,zfqpLevel,zfqp FROM (
		SELECT
		CASE
		WHEN gridLevel=#{gridLevel} THEN gridId
		WHEN parentGridLevel=#{gridLevel} THEN gridParent
		WHEN grandParentGridLevel=#{gridLevel} THEN gridGrandParent
		END zfqp,
		CASE
		WHEN gridLevel=#{gridLevel} THEN gridLevel
		WHEN parentGridLevel=#{gridLevel} THEN parentGridLevel
		WHEN grandParentGridLevel=#{gridLevel} THEN grandParentGridLevel
		END zfqpLevel,
		CASE
		WHEN gridLevel=#{gridLevel} THEN gridName
		WHEN parentGridLevel=#{gridLevel} THEN gridParentName
		WHEN grandParentGridLevel=#{gridLevel} THEN gridGrandParentName
		END zfqpName
		FROM(
            <!-- 整合网格父父父网格 -->
            SELECT ci.`id` caseId,gridId,gridLevel,gridParent,gridName,parentGridLevel,gridGrandParent,gridParentName,grandParentGridLevel,gridGrandGrandParent,gridGrandParentName
            FROM case_info ci
            LEFT JOIN (
            SELECT gridId,gridLevel,gridParent,gridName,parentGridLevel,gridGrandParent,gridParentName,ag3.grid_level grandParentGridLevel,ag3.`grid_parent` gridGrandGrandParent,ag3.grid_name gridGrandParentName
            FROM(
                <!-- 整合网格父父网格 -->
                SELECT gridId,gridLevel,gridParent,ag2.`grid_parent` gridGrandParent,ag2.grid_name gridParentName,ag2.grid_level parentGridLevel,ag2.id id2,gridName
                FROM (
                    <!-- 查询在用的网格 -->
                    SELECT ag.`id` gridId,ag.`grid_level` gridLevel,ag.`grid_parent` gridParent,ag.`grid_name` gridName
                    FROM area_grid ag
                    WHERE is_deleted='0'
                    ORDER BY ag.`grid_level`
                ) parentTmp
                LEFT JOIN area_grid ag2 ON ag2.id=parentTmp.gridParent
            ) grandParentTmp
            LEFT JOIN area_grid ag3 ON ag3.id=grandParentTmp.gridGrandParent
		) grandGrandParentTmp ON grandGrandParentTmp.gridId=ci.`grid`
		WHERE
			ci.is_deleted='0'
        <if test="isFinish != null and isFinish != ''">
            AND ci.is_finished=#{isFinish}
        </if>
		) result
		)countResult
		WHERE
			zfqp IS NOT NULL
		GROUP BY zfqp,zfqpName,zfqpLevel
	</select>

	<select id="heatMap" resultType="com.alibaba.fastjson.JSONObject">
        SELECT cyear,cmonth,mapInfoCount,mapInfo FROM (
            SELECT YEAR(ci.occur_time) cyear,MONTH(ci.`occur_time`) cmonth,COUNT(ci.map_info) mapInfoCount,ci.map_info mapInfo
            FROM case_info ci
            WHERE ci.`map_info`IS NOT NULL AND ci.`map_info`!=''
            AND ci.occur_time IS NOT NULL AND ci.occur_time != ''
            <if test="caseInfo.caseLevel != null and caseInfo.caseLevel != ''">
                AND ci.case_level=#{caseInfo.caseLevel}
            </if>
            <if test="caseInfo.sourceType != null and caseInfo.sourceType != ''">
                AND ci.source_type=#{caseInfo.sourceType}
            </if>
            <if test="caseInfo.grid!=null">
                AND ci.grid=45
            </if>
            <if test="startDate !=null and startDate != '' and endDate != null and endDate != ''">
                AND ci.`occur_time` &gt;= #{startDate}
                AND ci.`occur_time` &lt;= #{endDate}
            </if>
            GROUP BY ci.map_info,cyear,cmonth
        ) resultTmp
	</select>

	<!-- 为指挥中心首页查询列表 -->
	<select id="getListForHome" resultType="com.alibaba.fastjson.JSONObject">
		SELECT robj.`id` regulaObjectId,
		ptTmp1.pTotal patrolCount,
		IF(pCountWithProblem IS NOT NULL,pCountWithProblem,'0') pCountWithProblem,
		robj.`obj_name` objName,robj.map_info mapInfo
		FROM
		(
            <!-- 基本数据，主要用于查询条件的筛选，关键字段为pt3.`regula_object_id` regulaObjectId -->
            SELECT pt3.`regula_object_id` regulaObjectId,pt3.`id` patrolTaskId,pt3.`source_task_id`,
            spee.`spe_name`,
            ci.`case_title`,ci.`id`
            FROM special_event spee
            LEFT JOIN patrol_task pt3 ON spee.id=pt3.`source_task_id`
            LEFT JOIN case_info ci ON (ci.`source_code`=pt3.`id` AND ci.`source_type`=#{queryData.caseSourceType})<!-- 事件来源类别 -->
            <where>
                <if test="queryData.patrolTaskSourceType != null and queryData.patrolTaskSourceType != ''">
                    and pt3.`source_type`=#{queryData.patrolTaskSourceType}<!-- 巡查上报类型：日常巡查或专项巡查 -->
                </if>
                <if test="queryData.sourceTaskId != null and queryData.sourceTaskId != ''">
					<!-- 巡查上报来源ID，该参数通常与patrolTaskSourceType一起使用，如
					   patrolTaskSourceType='root_biz_patrolType_special',sourceTaskId='10'表示
					   查询来源专项管理里的ID为10的那条记录 -->
                    AND pt3.`source_task_id` = #{queryData.sourceTaskId}
                </if>
                <if test="queryData.startTime != null and queryData.startTIme != '' and queryData.endTime != null and queryData.endTime != ''">
                    AND pt3.`crt_time` &gt;=#{queryData.startTime} AND pt3.`crt_time` &lt;=#{queryData.endTime}
                </if>
                <if test="queryData.regulaObjectTypeId != null and queryData.regulaObjectTypeId != ''">
                    AND pt3.`regula_object_type_id`=#{queryData.regulaObjectTypeId}
                </if>
                <if test="queryData.regulaObjectId != null and queryData.regulaObjectId.size()>0">
                    AND pt3.`regula_object_id` in (
                        <foreach collection="queryData.regulaObjectId" item="item" separator=",">
                            #{item}
                        </foreach>
                    )
                </if>
            </where>
		) spept
		LEFT JOIN (
            <!-- 查询监管对象被询查的总数 -->
            SELECT COUNT(pt.`regula_object_id`) pTotal,pt.`regula_object_id` regulaObjectId
            FROM patrol_task pt
            GROUP BY pt.`regula_object_id`
		) ptTmp1 ON ptTmp1.regulaObjectId=spept.regulaObjectId
		LEFT JOIN (
            <!-- 查询有问题的监管对象数量 -->
            SELECT COUNT(pt2.regula_object_id) pCountWithProblem,pt2.regula_object_id regulaObjectId
            FROM patrol_task pt2
            WHERE pt2.is_problem='1'
            GROUP BY pt2.regula_object_id
		) ptTmp2 ON spept.regulaObjectId=ptTmp2.regulaObjectId
		LEFT JOIN regula_object robj ON robj.`id`=ptTmp1.regulaObjectId
		GROUP BY spept.regulaObjectId,ptTmp1.pTotal,pCountWithProblem

	</select>
	<!--  通过监管对象ids，获取监管对象所属事件量 -->
	<select id="selectByRegulaIds" resultType="java.util.Map">
		SELECT
			regula_obj_list regulaObjId,
			count(id) count
		FROM
			case_info
		WHERE
			is_deleted = '0'
		AND regula_obj_list IN
		<foreach collection="regulaObjIds" item="objId" open="(" close=")" separator=",">
			#{objId}
		</foreach>
		GROUP BY
			regula_obj_list
	</select>

	<select id="statisticsByGridLevel" resultType="com.alibaba.fastjson.JSONObject">
        select result01._grid grid,result01.stateTodo,result01.stateFinish,result01.stateStop,overtimeCount,
        ag.`grid_name` gridName,ag.grid_level gridLevel,ag.grid_code gridCode,ag.grid_parent gridParent,
		parentAg.grid_code gridParentCode,parentAg.grid_name gridParentName
        from (
		    <!-- 查询数据结果如：
		     grid   overtimeCount   stateTodo   stateFinish stateStop
		     2      2               6           1           0
		     3      4               8           2           1
		     -->
            SELECT _grid,overtimeCount,
            MAX(CASE is_finished WHEN '0' THEN _count ELSE 0 END ) stateTodo,
            MAX(CASE is_finished WHEN '1' THEN _count ELSE 0 END ) stateFinish,
            MAX(CASE is_finished WHEN '2' THEN _count ELSE 0 END ) stateStop
            FROM (
                SELECT is_finished,COUNT(_grid) _count,_grid FROM (
                SELECT id,is_finished,
                CASE
                <foreach collection="queryData" item="item">
                    WHEN grid IN (${item.gridChildrenSet}) THEN ${item.parentId}
                </foreach>
                ELSE '-1' END _grid
                FROM case_info ci2
                <!-- 添加按条件查询 -->
                <where>
                    ci2.`is_deleted`='0'
                    <if test="caseInfo.eventTypeList != null and caseInfo.eventTypeList != ''">
                        and event_type_list=#{caseInfo.eventTypeList}
                    </if>
                    <if test="caseInfo.sourceType != null and caseInfo.sourceType != ''">
                        and source_type=#{caseInfo.sourceType}
                    </if>
                    <if test="caseInfo.caseLevel != null and caseInfo.caseLevel != ''">
                        and case_level=#{caseInfo.caseLevel}
                    </if>
                    <if test="startTime != null and startTime != ''
                        and endTime != null and endTime != ''">
                        and occur_time BETWEEN #{startTime} AND #{endTime}
                    </if>
                    <if test="caseInfo.bizList != null and caseInfo.bizList != ''">
                        and biz_list=#{caseInfo.bizList}
                    </if>
                </where>
                ) tmp1
                GROUP BY tmp1._grid,is_finished
                ORDER BY _grid,is_finished
            ) tmp2

            <!-- 超时事件数量 -->
            left join (
            SELECT
            grid,
            COUNT(id) overtimeCount
            FROM
            case_info
            WHERE
            dead_line IS NOT NULL
            AND (
            (
            is_finished = 0
            AND NOW() > dead_line
            )
            OR (
            is_finished IN (1, 2)
            AND finish_time > dead_line
            )
            )
            GROUP BY
            grid
            ) overtimeTmp on overtimeTmp.grid=tmp2._grid


            WHERE _grid!='-1'
            GROUP BY _grid,overtimeCount
        )result01
		<!-- 关联网格表，获取网格名称 -->
        LEFT JOIN area_grid ag ON ag.`id`=result01._grid
		<!-- 关联网格表，获取父级网格名称 -->
		LEFT JOIN area_grid parentAg ON parentAg.id=ag.grid_parent
	</select>

	<select id="gongdaiInMemberStatistics" resultType="com.alibaba.fastjson.JSONObject">
		SELECT superCaseInfo.id,superCaseInfo.`case_title` caseTitle,superCaseInfo.`source_type` sourceType,superCaseInfo.`is_finished` isFinished,superCaseInfo.`event_type_list` eventTypeList,
		ei.`finish_time` exeTime,superCaseInfo.`finish_time` finishTime
		FROM
		case_info superCaseInfo
		LEFT JOIN execute_info ei ON ei.`case_id`=superCaseInfo.`id`
		<where>
			<choose>
				<when test="exeStatus == 'jieshou'">
					superCaseInfo.id IN (
					# 接收数
					SELECT ei01.`case_id` ei01CaseId
					FROM execute_info ei01
					INNER JOIN case_info ci01 ON ci01.`id`=ei01.`case_id`
					WHERE ci01.`crt_time` BETWEEN #{startTime} AND #{endTime}
					AND ei01.`exe_person`=#{userId}
					)
				</when>
				<when test="exeStatus == 'shangbao'">
					OR
					(
					superCaseInfo.`source_code` IN (
					# 上报数
					SELECT pk01.`id` pkId
					FROM patrol_task pk01
					WHERE pk01.`crt_time` BETWEEN #{startTime} AND #{endTime}
					AND pk01.`crt_user_id`=#{userId}
					)
					AND superCaseInfo.`source_type`='root_biz_eventType_check'
					)
				</when>
				<when test="exeStatus == 'banjie'">
					OR (
					superCaseInfo.id IN (
					# 完成数
					SELECT ei01.`case_id` ei01CaseId
					FROM execute_info ei01
					INNER JOIN case_info ci01 ON ci01.`id`=ei01.`case_id`
					WHERE ci01.`crt_time` BETWEEN #{startTime} AND #{endTime}
					AND ei01.`exe_person`=#{userId}
					AND ci01.`is_finished`='1'
					)
					)
				</when>
				<when test="exeStatus == 'tuihui'">
					OR (
					superCaseInfo.`id` IN (
					# 退回数
					SELECT ei01.`case_id` ei01CaseId
					FROM execute_info ei01
					INNER JOIN case_info ci01 ON ci01.`id`=ei01.`case_id`
					WHERE ci01.`crt_time` BETWEEN #{startTime} AND #{endTime}
					AND ei01.`exe_person`=#{userId}
					AND ci01.`is_finished`='2'
					)
					)
				</when>
				<otherwise>
					superCaseInfo.id IN (
					# 接收数
					SELECT ei01.`case_id` ei01CaseId
					FROM execute_info ei01
					INNER JOIN case_info ci01 ON ci01.`id`=ei01.`case_id`
					WHERE ci01.`crt_time` BETWEEN #{startTime} AND #{endTime}
					AND ei01.`exe_person`=#{userId}
					)
					OR
					(
					superCaseInfo.`source_code` IN (
					# 上报数
					SELECT pk01.`id` pkId
					FROM patrol_task pk01
					WHERE pk01.`crt_time` BETWEEN #{startTime} AND #{endTime}
					AND pk01.`crt_user_id`=#{userId}
					)
					AND superCaseInfo.`source_type`='root_biz_eventType_check'
					)
					OR (
					superCaseInfo.id IN (
					# 完成数
					SELECT ei01.`case_id` ei01CaseId
					FROM execute_info ei01
					INNER JOIN case_info ci01 ON ci01.`id`=ei01.`case_id`
					WHERE ci01.`crt_time` BETWEEN #{startTime} AND #{endTime}
					AND ei01.`exe_person`=#{userId}
					AND ci01.`is_finished`='1'
					)
					)
					OR (
					superCaseInfo.`id` IN (
					# 退回数
					SELECT ei01.`case_id` ei01CaseId
					FROM execute_info ei01
					INNER JOIN case_info ci01 ON ci01.`id`=ei01.`case_id`
					WHERE ci01.`crt_time` BETWEEN #{startTime} AND #{endTime}
					AND ei01.`exe_person`=#{userId}
					AND ci01.`is_finished`='2'
					)
					)
				</otherwise>
			</choose>
		</where>
		ORDER BY superCaseInfo.id DESC
	</select>

	<select id="assessmentList" resultType="com.alibaba.fastjson.JSONObject">
		select
		ci.id,
		ci.case_title caseTitle,
		ci.source_type sourceType,
		ci.is_finished isFinished,
		ci.event_type_list eventTypeList,
		ci.upd_time exeTime,
		ci.finish_time  finishTime
		FROM case_info ci
		WHERE 1 = 1
		<if test="caseIds != null">
			and ci.id in
			<foreach collection="caseIds" item="caseIds" open="(" separator="," close=")">
				 #{caseIds}
			</foreach>

		</if>
		<if test="caseIds == null">
			ci.id = #{userId}
		</if>
		<if test="exeStatus != null and exeStatus != ''">
			<!--未发现问题的工单-->
			<if test="exeStatus == 'weifaxianwenti'">
				and ci.source_code IN (
				SELECT DISTINCT(pt.id)
				from patrol_task pt
				where pt.is_problem = '0'
				<if test="userId != null and userId != ''">
					and   pt.crt_user_id = #{userId}
				</if>
				<![CDATA[
					and #{startTime} <= pt.crt_time and pt.crt_time <= #{endTime}
				]]>
				)
			</if>
			<!--发现问题的工单   -->
			<if test="exeStatus == 'faxianwenti'">
				and ci.source_code IN (
				SELECT
				DISTINCT(pt.id)
				from patrol_task pt
				where pt.is_problem = '1'
				<if test="userId != null and userId != ''">
					and    pt.crt_user_id = #{userId}
				</if>
				<![CDATA[
					and #{startTime} <= pt.crt_time and pt.crt_time <= #{endTime}
				]]>
				)
			</if>
			<!--终止的工单-->
			<if test="exeStatus == 'zhongzhi'">
				and ci.source_code IN (
				SELECT
				DISTINCT(pt.id)
				from patrol_task pt
				left join  case_info ci2 on pt.crt_user_id = ci2.crt_user_id
				where pt.status = 'root_biz_partolTaskT_stop'
				<if test="userId != null and userId != ''">
					and pt.crt_user_id = #{userId}
				</if>
				<![CDATA[
					and #{startTime} <= pt.crt_time and pt.crt_time <= #{endTime}
				]]>
				)
			</if>
			<!--巡查直接处理的工单-->
			<if test="exeStatus == 'zhijiechuli'">
				and ci.id IN (
				SELECT
				DISTINCT(ci2.id)
				from case_info ci2
				where
				ci2.crt_time = ci2.upd_time  and ci2.is_finished = '1'
				<if test="userId != null and userId != ''">
					and  ci2.crt_user_id = #{userId}
				</if>
				<![CDATA[
					and #{startTime} <= ci.crt_time and ci.crt_time <= #{endTime}
				]]>
				)
			</if>
			<!--交办处理-->
			<if test="exeStatus == 'jiaobanchuli'">
				and ci.id in (
					select task.PROC_BIZID
					from scp_workflow.scp_wf_proc_task task
					where  FROM_UNIXTIME(task.PROC_TASK_COMMITTIME,'%Y-%m-%d %H:%i:%s')between #{startTime} and #{endTime} and task.PROC_CTASKCODE = 'processing' and task.PROC_PTASKCODE = 'gridMemberNode'
					<if test="userId != null and userId != ''">
					and task.PROC_TASK_ASSIGNEE = #{userId}
			  		</if>
					)
			</if>
			<!--已退回-->
			<if test="exeStatus == 'tuihui'">
				and ci.id IN (
					select task.PROC_BIZID
					from scp_workflow.scp_wf_proc_task task
					where FROM_UNIXTIME(task.PROC_TASK_COMMITTIME,'%Y-%m-%d %H:%i:%s') between #{startTime} and #{endTime} and task.PROC_CTASKCODE = 'processing' and task.PROC_PTASKCODE = 'toFinish'
					<if test="userId != null and userId != ''">
					and task.PROC_TASK_ASSIGNEE = #{userId}
					</if>
					)
			</if>
		</if>
		<![CDATA[
			and #{startTime} <= ci.crt_time and ci.crt_time <= #{endTime}
		]]>

		and ci.is_deleted = '0'
		ORDER BY  ci.crt_time desc
	</select>

	<select id="caseInfoByUserIds" resultType="com.alibaba.fastjson.JSONObject">
		select DISTINCT(ci.id) caseId
		from  case_info ci
		where
		1 = 1
		<if test="userId != null and userId != ''">
			and ci.crt_user_id =  #{userId}
		</if>
		and ci.crt_time between #{startTime} and #{endTime}
	</select>

</mapper>