<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.bjzhianjia.scp.cgp.mapper.CaseRegistrationMapper">

	<!-- 可根据自己的需求，是否要使用 -->
	<resultMap
		type="com.bjzhianjia.scp.cgp.entity.CaseRegistration"
		id="caseRegistrationMap">
		<result property="id" column="id" />
		<result property="concernedType" column="concerned_type" />
		<result property="concernedId" column="concerned_id" />
		<result property="bizType" column="biz_type" />
		<result property="eventType" column="event_type" />
		<result property="inspectItem" column="inspect_item" />
		<result property="caseName" column="case_name" />
		<result property="caseTime" column="case_time" />
		<result property="caseEnd" column="case_end" />
		<result property="caseSource" column="case_source" />
		<result property="caseSourceTime" column="case_source_time" />
		<result property="caseInformer" column="case_informer" />
		<result property="caseInformerAddr" column="case_informer_addr" />
		<result property="caseInformerPhone"
			column="case_informer_phone" />
		<result property="enforcers" column="enforcers" />
		<result property="caseContent" column="case_content" />
		<result property="caseAddress" column="case_address" />
		<result property="girdId" column="gird_id" />
		<result property="caseOngitude" column="case_ongitude" />
		<result property="caseLatitude" column="case_latitude" />
		<result property="dealType" column="deal_type" />
		<result property="dealSuggest" column="deal_suggest" />
		<result property="transferDepart" column="transfer_depart" />
		<result property="isDeleted" column="is_deleted" />
		<result property="crtTime" column="crt_time" />
		<result property="crtUserId" column="crt_user_id" />
		<result property="crtUserName" column="crt_user_name" />
		<result property="updTime" column="upd_time" />
		<result property="updUserId" column="upd_user_id" />
		<result property="updUserName" column="upd_user_name" />
		<result property="tenantId" column="tenant_id" />
		<result property="deptId" column="dept_id" />
	</resultMap>
	<resultMap
		type="com.bjzhianjia.scp.cgp.vo.CaseRegistrationVo" id="voResultMap">
		<result property="id" column="id" />
		<result property="concernedType" column="concerned_type" />
		<result property="concernedId" column="concerned_id" />
		<result property="bizType" column="biz_type" />
		<result property="eventType" column="event_type" />
		<result property="inspectItem" column="inspect_item" />
		<result property="caseName" column="case_name" />
		<result property="caseTime" column="case_time" />
		<result property="caseEnd" column="case_end" />
		<result property="caseSource" column="case_source" />
		<result property="caseSourceTime" column="case_source_time" />
		<result property="caseInformer" column="case_informer" />
		<result property="caseInformerAddr" column="case_informer_addr" />
		<result property="caseInformerPhone"
			column="case_informer_phone" />
		<result property="enforcers" column="enforcers" />
		<result property="caseContent" column="case_content" />
		<result property="caseAddress" column="case_address" />
		<result property="girdId" column="gird_id" />
		<result property="caseOngitude" column="case_ongitude" />
		<result property="caseLatitude" column="case_latitude" />
		<result property="dealType" column="deal_type" />
		<result property="dealSuggest" column="deal_suggest" />
		<result property="transferDepart" column="transfer_depart" />
		<result property="isDeleted" column="is_deleted" />
		<result property="crtTime" column="crt_time" />
		<result property="crtUserId" column="crt_user_id" />
		<result property="crtUserName" column="crt_user_name" />
		<result property="updTime" column="upd_time" />
		<result property="updUserId" column="upd_user_id" />
		<result property="updUserName" column="upd_user_name" />
		<result property="tenantId" column="tenant_id" />
		<result property="deptId" column="dept_id" />
		<result property="gridName" column="grid_name" />
		<result property="eventTypeName" column="type_name" />
	</resultMap>
	<!-- 查询条件 -->
	<sql id="isParamNull">
		<!-- 未删除 -->
		is_deleted=0
		<!-- 业务条线 -->
		<if
			test="caseRegistration.bizType != null and caseRegistration.bizType != '' ">
			and biz_type=#{caseRegistration.bizType}
		</if>
		<!-- 案件处理类型 -->
		<if
			test="caseRegistration.dealType != null and caseRegistration.dealType != '' ">
			and deal_type=#{caseRegistration.dealType}
		</if>
		<!-- 网格范围（网格id） -->
		<if test="gridIds != null and gridIds != '' ">
			and gird_id in (#{gridIds})
		</if>
		<!-- 案件来源 -->
		<if
			test="caseRegistration.caseSourceType != null and caseRegistration.caseSourceType != '' ">
			and case_source_type=#{caseRegistration.caseSourceType}
		</if>
		<!-- 执法分队 -->
		<if
			test="caseRegistration.deptId != null and caseRegistration.deptId != '' ">
			and dept_id=#{caseRegistration.deptId}
		</if>
		<!-- 日期范围（开始时间和结束时间） -->
		<if test="startTime !=null and startTime!='' ">
			<if test="endTime !=null and endTime!='' ">
				<![CDATA[
				and #{startTime}<=crt_time and crt_time <= #{endTime}
				]]>
			</if>
		</if>
	</sql>
	<!-- 状态处理分布 -->
	<select id="selectState" resultType="java.util.Map">
		SELECT
		deal_type dealType,
		count(*) count
		FROM
		cle_case_registration
		WHERE
		<include refid="isParamNull" />
		GROUP BY
		deal_type
	</select>

	<!-- 案件来源类型分布 -->
	<select id="selectCaseSource" resultType="java.util.Map">
		SELECT
		case_source_type AS caseSourceType,
		count(*) count
		FROM
		cle_case_registration
		WHERE
		<include refid="isParamNull" />
		GROUP BY
		case_source_type
	</select>

	<!-- 业务线条分布 -->
	<select id="selectBizLine" resultType="java.util.Map">
		SELECT
		biz_type AS bizType,
		count(*) count
		FROM
		cle_case_registration
		WHERE biz_type is not null and
		<include refid="isParamNull" />
		GROUP BY
		biz_type
	</select>
	
	<select id="getList" resultMap="voResultMap">
		SELECT
		cc.*,ag.`grid_name`,et.`type_name`
		FROM cle_case_registration cc
		LEFT JOIN area_grid ag ON ag.id =cc.`gird_id`
		LEFT JOIN event_type et
		ON et.id=cc.`event_type`
		WHERE cc.`id`
		<foreach collection="ids" item="id" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</select>

<!-- 按处理方式对案件进行统计 -->
	<select id="getStatisByDealType" parameterType="java.util.Map"
		resultType="com.alibaba.fastjson.JSONObject">
		SELECT MONTH(crt_time) month,YEAR(crt_time) year, COUNT(*) AS
		count,deal_type dealType FROM cle_case_registration ccr
		<where>
			is_deleted='0'
			<if test="bizType!=null and bizType!=''">
				AND ccr.`biz_type`=#{bizType}
			</if>
			<if test="caseSourceType!=null and caseSourceType!=''">
				AND ccr.`case_source_type`=#{caseSourceType}
			</if>
			<if test="gridIds !=null">
				AND ccr.`gird_id` IN
				(${gridIds})
			</if>
			<if test="startTime !=null and startTime != '' and endTime != null and endTime != ''">
				AND ccr.`crt_time` BETWEEN #{startTime} AND #{endTime}
			</if>
		</where>
		GROUP BY YEAR(crt_time),MONTH(crt_time),dealType
	</select>

	<!-- 按执法者对案件进行统计 -->
	<select id="getStatisByDept" parameterType="java.util.Map"
		resultType="com.alibaba.fastjson.JSONObject">
		SELECT
		cyear,
		cmonth,
		total,
		
		<foreach collection="deptParam" item="item"  separator=",">
			MAX( CASE deptId WHEN #{item.deptId} THEN COUNT ELSE 0 END ) #{item.deptId}
		</foreach>
		FROM
			(
				SELECT
					ccr1.cyear cyear,
					ccr1.cmonth cmonth,
					ccr1.deptId deptId,
					ccr1.count COUNT,
					ccr2.total total
				FROM
					(
						SELECT
							YEAR (crt_time) cyear,
							MONTH (crt_time) cmonth,
							dept_id deptId,
							COUNT(*) COUNT
						FROM
							cle_case_registration
					
					WHERE
					<include refid="isParamNull" />
					
						GROUP BY
							cyear,
							cmonth,
							deptId
					) ccr1
				LEFT JOIN (
					SELECT
						YEAR (crt_time) cyear,
						MONTH (crt_time) cmonth,
						COUNT(*) total
					FROM
						cle_case_registration
					GROUP BY
						cyear,
						cmonth
				) ccr2 ON ccr1.cyear = ccr2.cyear
				AND ccr1.cmonth = ccr2.cmonth
			) temp
		GROUP BY
			cyear,
			cmonth,
			total
	</select>
	
	<!-- 案件违法类别统计 -->
	<select id="selectInspectItem" resultType="java.util.Map">
	SELECT
	inspectItem,
	code,
	name,
	total,
	MAX( CASE dealType WHEN 'root_biz_caseDealType_zlgz' THEN dealTypeCount ELSE 0 END ) root_biz_caseDealType_zlgz,
	MAX( CASE dealType WHEN 'root_biz_caseDealType_xccf' THEN dealTypeCount ELSE 0 END ) root_biz_caseDealType_xccf,
	MAX( CASE dealType WHEN 'root_biz_caseDealType_ybcx' THEN dealTypeCount ELSE 0 END ) root_biz_caseDealType_ybcx,
	MAX( CASE dealType WHEN 'root_biz_caseDealType_wfxwt' THEN dealTypeCount ELSE 0 END ) root_biz_caseDealType_wfxwt,
	MAX( CASE dealType WHEN 'root_biz_caseDealType_ajys' THEN dealTypeCount ELSE 0 END ) root_biz_caseDealType_ajys
	FROM
		(
			SELECT
				detailG.inspectItem,
				detailG.dealType,
				detailG.dealTypeCount,
				itemG.total,
				items.code,

				<!-- 获取违法行为，并起别名为name，在程序中从结果集中取值时按name作为key进行取 -->
				items.unlawful_act name
			FROM
				(
					SELECT
						inspect_item  inspectItem,
						deal_type  dealType,
						count(id)  dealTypeCount
					FROM
						cle_case_registration
					WHERE
					<include refid="isParamNull"/>
					GROUP BY
						inspect_item,
						deal_type
				) detailG
			LEFT JOIN (
				SELECT
					inspect_item,
					count(id) total
				FROM
					cle_case_registration
				GROUP BY
					inspect_item
			) itemG ON detailG.inspectItem = itemG.inspect_item

			<!-- 违法行为为权力事项，应与权力事项表进行关联查询 -->
			LEFT JOIN rights_issues items ON items.id = detailG.inspectItem
		) temp
	GROUP BY
	inspectItem,
	total,
	code,
	name
	ORDER BY
	total DESC
	</select>

	<!-- 查询执法人员部门列 -->
	<select id="selectDistinctDeptId" resultType="java.lang.String">
		SELECT DISTINCT(dept_id) FROM cle_case_registration
	</select>
	<!-- 案件记录-->
	<select id="selectCaseLog" resultType="java.util.Map">
		<bind name="id" value="'%'+userId+'%'"/>
		SELECT
			id,
			case_name caseName,
			case_time caseTime,
			case_source_type caseSourceType
		FROM
			cle_case_registration
		WHERE
			is_deleted = 0
		AND (
			crt_user_id = #{userId}
			OR enforcers LIKE "%"#{id}"%"
		)
		<if test="caseName != null  and caseName!='' ">
			<bind name="title" value="'%'+caseName+'%'"/>
			AND case_name LIKE #{title}
		</if>
		ORDER BY
			crt_time DESC
	</select>
	<!-- 案件基本信息-->
	<select id="selectBaseInfoById" resultType="java.util.Map">
		SELECT
			ccr.id id,
			ccr.concerned_type concernedType,
			ccr.concerned_id concernedId,
			ccr.case_name caseName,
			ccr.case_address caseAddress,
			ccr.case_time caseTime,
			ccr.case_end caseEnd,
			ccr.case_source caseSource,
			ccr.case_informer caseInformerv,
			ccr.case_informer_addr caseInformerAddr,
			ccr.case_informer_phone caseInformerPhone,
			ccr.enforcers enforcers,
			ccr.case_content caseContent,
			ccr.case_ongitude ongitude,
			ccr.case_latitude latitude,
			ccr.case_address caseAddress,
			ccr.deal_type dealType,
			ccr.transfer_depart transferDepart,
			ccr.deal_suggest dealSuggest,
			ccr.biz_type bizType,
			ccr.case_spot_pic caseSpotPic,
			ccr.case_spot_check caseSpotCheck,
			ccr.case_check_time caseCheckTime,
			ccr.case_source_type caseSourceType,
			et.type_name eventName,
			ii.`name` inspectName,
			ag.grid_name gridName
		FROM
			cle_case_registration ccr
		LEFT JOIN event_type et ON et.id = ccr.event_type
		LEFT JOIN inspect_items ii ON ii.id = ccr.inspect_item
		LEFT JOIN area_grid ag ON ag.id = ccr.gird_id
		WHERE
			ccr.is_deleted = 0
		AND ccr.id = #{caseId}
	</select>

	<!-- 案件热力学统计 -->
	<select id="heatMap" resultType="com.alibaba.fastjson.JSONObject">
		SELECT cyear,cmonth,mapInfoCount,caseOngitude,caseLatitude FROM (
			SELECT YEAR(ci.case_time) cyear,MONTH(ci.`case_time`) cmonth,COUNT(ci.case_ongitude) mapInfoCount,ci.case_ongitude caseOngitude,ci.case_latitude caseLatitude
			FROM cle_case_registration ci
			WHERE ci.`case_ongitude` IS NOT NULL AND ci.`case_latitude` IS NOT NULL
			AND ci.`case_time` &gt;= #{startDate} AND ci.`case_time` &lt;= #{endDate}
			GROUP BY ci.case_ongitude,cyear,cmonth,ci.case_latitude
			) resultTmp
	</select>
</mapper>