<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bjzhianjia.scp.cgp.mapper.CaseRegistrationMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.bjzhianjia.scp.cgp.entity.CaseRegistration" id="caseRegistrationMap">
        <result property="id" column="id"/>
        <result property="concernedType" column="concerned_type"/>
        <result property="concernedId" column="concerned_id"/>
        <result property="bizType" column="biz_type"/>
        <result property="eventType" column="event_type"/>
        <result property="inspectItem" column="inspect_item"/>
        <result property="caseName" column="case_name"/>
        <result property="caseTime" column="case_time"/>
        <result property="caseEnd" column="case_end"/>
        <result property="caseSource" column="case_source"/>
        <result property="caseSourceTime" column="case_source_time"/>
        <result property="caseInformer" column="case_informer"/>
        <result property="caseInformerAddr" column="case_informer_addr"/>
        <result property="caseInformerPhone" column="case_informer_phone"/>
        <result property="enforcers" column="enforcers"/>
        <result property="caseContent" column="case_content"/>
        <result property="caseAddress" column="case_address"/>
        <result property="girdId" column="gird_id"/>
        <result property="caseOngitude" column="case_ongitude"/>
        <result property="caseLatitude" column="case_latitude"/>
        <result property="dealType" column="deal_type"/>
        <result property="dealSuggest" column="deal_suggest"/>
        <result property="transferDepart" column="transfer_depart"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="crtTime" column="crt_time"/>
        <result property="crtUserId" column="crt_user_id"/>
        <result property="crtUserName" column="crt_user_name"/>
        <result property="updTime" column="upd_time"/>
        <result property="updUserId" column="upd_user_id"/>
        <result property="updUserName" column="upd_user_name"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="deptId" column="dept_id"/>
    </resultMap>

</mapper>