<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.bjzhianjia.scp.cgp.mapper.PatrolTaskMapper">

	<!-- 可根据自己的需求，是否要使用 -->
	<resultMap type="com.bjzhianjia.scp.cgp.entity.PatrolTask"
		id="patrolTaskMap">
		<result property="id" column="id" />
		<result property="areaGridId" column="area_grid_id" />
		<result property="sourceTaskId" column="source_task_id" />
		<result property="sourceType" column="source_type" />
		<result property="patrolCode" column="patrol_code" />
		<result property="patrolName" column="patrol_name" />
		<result property="patrolLevel" column="patrol_level" />
		<result property="regulaObjectTypeId"
			column="regula_object_type_id" />
		<result property="regulaObjectId" column="regula_object_id" />
		<result property="bizTypeId" column="biz_type_id" />
		<result property="eventTypeId" column="event_type_id" />
		<result property="address" column="address" />
		<result property="mapInfo" column="map_info" />
		<result property="content" column="content" />
		<result property="concernedId" column="concerned_id" />
		<result property="concernedType" column="concerned_type" />
		<result property="status" column="status" />
		<result property="tenantId" column="tenant_id" />
		<result property="deptId" column="dept_id" />
		<result property="crtUserName" column="crt_user_name" />
		<result property="crtTime" column="crt_time" />
	</resultMap>

	<!-- 巡查任务记录关联专项巡查表 -->
	<select id="selectPatrolTaskList" resultType="java.util.Map">
		SELECT
		pk.id,
		pk.patrol_code as patrolCode,
		pk.patrol_name as patrolName,
		pk.crt_user_name as crtUserName,
		pk.crt_time as crtTime,
		pk.source_type as sourceType,
		se.spe_name as speName,
		ag.grid_name as gridName,
		pk.status
		FROM
		patrol_task AS pk
		LEFT JOIN
		special_event AS se
		ON pk.source_task_id = se.id
		LEFT JOIN
		area_grid AS ag
		ON ag.id = pk.area_grid_id
		WHERE 
			1=1
		<if
			test="patrolTask.sourceType !=null and patrolTask.sourceType!=''">
			AND pk.source_type = #{patrolTask.sourceType}
		</if>
		<if test="speName !=null and speName!=''">
			AND se.spe_name LIKE "%"#{speName}"%"
		</if>
		<if
			test="patrolTask.patrolName !=null and patrolTask.patrolName!=''">
			AND pk.patrol_name LIKE "%"#{patrolTask.patrolName}"%"
		</if>
		<if test="patrolTask.bizTypeId!=null and patrolTask.bizTypeId!=''">
			AND pk.biz_type_id=#{patrolTask.bizTypeId}
		</if>
		<if test="patrolTask.status !=null and patrolTask.status!=''">
			AND pk.status=#{patrolTask.status}
		</if>
		<if test="startTime !=null or endTime != null">
			AND (
			#{startTime} <![CDATA[ >= ]]>
			pk.crt_time
			OR pk.crt_time <![CDATA[ <= ]]>
			#{endTime}
			)
		</if>
	</select>
	
	<!-- 获取regulaObjIdList集合中所包含的监管对象被巡查的次数 -->
	<select id="regulaObjCount" resultType="com.alibaba.fastjson.JSONObject">
		SELECT patrol_task.`regula_object_id`, COUNT(*) rcount FROM patrol_task
		WHERE patrol_task.`regula_object_id` IN
		<foreach collection="regulaObjIdList" index="index" item="regulaObjId" open="(" separator="," close=")">
			#{regulaObjId}
		</foreach>
		GROUP BY patrol_task.`regula_object_id`
	</select>
</mapper>