<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.bjzhianjia.scp.cgp.mapper.PatrolTaskMapper">

	<!-- 可根据自己的需求，是否要使用 -->
	<resultMap type="com.bjzhianjia.scp.cgp.entity.PatrolTask"
		id="patrolTaskMap">
		<result property="id" column="id" />
		<result property="areaGridId" column="area_grid_id" />
		<result property="sourceTaskId" column="source_task_id" />
		<result property="sourceType" column="source_type" />
		<result property="patrolCode" column="patrol_code" />
		<result property="patrolName" column="patrol_name" />
		<result property="patrolLevel" column="patrol_level" />
		<result property="regulaObjectTypeId"
			column="regula_object_type_id" />
		<result property="regulaObjectId" column="regula_object_id" />
		<result property="bizTypeId" column="biz_type_id" />
		<result property="eventTypeId" column="event_type_id" />
		<result property="address" column="address" />
		<result property="mapInfo" column="map_info" />
		<result property="content" column="content" />
		<result property="concernedId" column="concerned_id" />
		<result property="concernedType" column="concerned_type" />
		<result property="status" column="status" />
		<result property="tenantId" column="tenant_id" />
		<result property="deptId" column="dept_id" />
		<result property="crtUserName" column="crt_user_name" />
		<result property="crtTime" column="crt_time" />
	</resultMap>

	<!-- 巡查任务记录关联专项巡查表 -->
	<select id="selectPatrolTaskList" resultType="java.util.Map">
		SELECT
		pk.id,
		pk.patrol_code as patrolCode,
		pk.patrol_name as patrolName,
		pk.crt_user_name as crtUserName,
		pk.crt_time as crtTime,
		pk.source_type as sourceType,
		pk.source_task_id as sourceTaskId,
		se.spe_name as speName,
		ag.grid_name as gridName,
		pk.status
		FROM
		patrol_task AS pk
		LEFT JOIN
		special_event AS se
		ON pk.source_task_id = se.id
		LEFT JOIN
		area_grid AS ag
		ON ag.id = pk.area_grid_id
		WHERE 
			1=1
		<if
			test="patrolTask.sourceType !=null and patrolTask.sourceType!=''">
			AND pk.source_type = #{patrolTask.sourceType}
		</if>
		<if test="speName !=null and speName!=''">
			AND se.spe_name LIKE "%"#{speName}"%"
		</if>
		<!-- 巡查事项名称或者编码查询 -->
		<if test="patrolTask.patrolCode !=null and patrolTask.patrolCode !=''">
			AND (
				( pk.patrol_name LIKE "%"#{patrolTask.patrolCode}"%" )
				OR
				(pk.patrol_code LIKE "%"#{patrolTask.patrolCode}"%")
			)
		</if>
		<if test="patrolTask.patrolName !=null or patrolTask.patrolName!=''">
			AND (
				( pk.patrol_name LIKE "%"#{patrolTask.patrolName}"%" )
				OR
				(pk.patrol_code LIKE "%"#{patrolTask.patrolName}"%")
			)
		</if>
		<if test="patrolTask.bizTypeId!=null and patrolTask.bizTypeId!=''">
			AND pk.biz_type_id=#{patrolTask.bizTypeId}
		</if>
		<if test="patrolTask.status !=null and patrolTask.status!=''">
			AND pk.status=#{patrolTask.status}
		</if>
		<if test="startTime !=null or endTime != null">
			AND (
			#{startTime} <![CDATA[ <= ]]>
			pk.crt_time
			and pk.crt_time <![CDATA[ <= ]]>
			#{endTime}
			)
		</if>
		<if test="patrolTask.eventTypeId != null">
			AND pk.event_type_id=#{patrolTask.eventTypeId}
		</if>
		<if test="patrolTask.crtUserId != null and patrolTask.crtUserId != ''">
			and pk.crt_user_id in (${patrolTask.crtUserId})
		</if>
		<if test="patrolTask.areaGridId !=null">
			and pk.area_grid_id = #{patrolTask.areaGridId}
		</if>

		<if test="sortColumn !=null and sortColumn!=''">
			ORDER BY ${sortColumn}
		</if>

	</select>
	
	<!-- 获取regulaObjIdList集合中所包含的监管对象被巡查的次数 -->
	<select id="regulaObjCount" resultType="com.alibaba.fastjson.JSONObject">
		<!-- 在返回的结果集中添加有问题的巡查量 -->
		SELECT pt01.`regula_object_id`, COUNT(*) rcount,
		IF(pCountWithProblem IS NOT NULL,pCountWithProblem,'0') pCountWithProblem
		FROM patrol_task pt01
		LEFT JOIN (
			<!-- 有问题巡查量 -->
			SELECT pt02.`regula_object_id` regulaObjectId, COUNT(*) pCountWithProblem FROM patrol_task pt02
			WHERE pt02.is_problem='1'
			GROUP BY pt02.`regula_object_id`
		) tablePt02 ON tablePt02.regulaObjectId=pt01.`regula_object_id`
		<where>
			<if test="regulaObjIdList != null and regulaObjIdList.size() > 0">
				pt01.`regula_object_id` IN
				<foreach collection="regulaObjIdList" index="index" item="regulaObjId" open="(" separator="," close=")">
					#{regulaObjId}
				</foreach>
			</if>
		</where>
		GROUP BY pt01.`regula_object_id`,pCountWithProblem
	</select>

	<!-- 查询某监管对象巡查列表 -->
	<select id="listOfRegObj" resultType="com.alibaba.fastjson.JSONObject">
		select pt.id patrolTaskId,pt.crt_user_id crtUserId,pt.crt_time crtTime,pt.status,pt.biz_type_id bizTypeId,
        pt.crt_user_name crtUserName,pt.`is_problem` isProblem,
		pt.patrol_name patrolName,pt.patrol_level patrolLevel, pt.address,
		ro.id regObjId,ro.obj_name objName,
		ei.id enterpriseId,ei.credit_code creditCode
		from patrol_task pt
		left join regula_object ro on ro.id=pt.regula_object_id
		left join enterprise_info ei on ei.regula_obj_id=ro.id
		<where>
			<if test="queryData.concernedType != null and queryData.concernedType != ''">
				and pt.concerned_type = #{queryData.concernedType}
			</if>
			<if test="queryData.status != null and queryData.status != ''">
				and pt.status = #{queryData.status}
			</if>
			<if test="queryData.objName != null and queryData.objName != ''">
				and ro.obj_name like "%"#{queryData.objName}"%"
			</if>
			<if test="queryData.creditCode != null and queryData.creditCode != ''">
				and ei.credit_code= #{queryData.creditCode}
			</if>
            <if test="queryData.startTime != null and queryData.startTime !=''
                       and queryData.endTime != null and queryData.endTime != ''">
                and pt.crt_time &gt;=#{queryData.startTime} and pt.crt_time &lt;= #{queryData.endTime}
            </if>
		</where>
	</select>

	<!-- 巡查任务记录关联专项巡查表 -->
	<select id="selectPatrolTaskListByRole" resultType="java.util.Map">
		SELECT
		pk.id,
		pk.patrol_code as patrolCode,
		pk.patrol_name as patrolName,
		pk.crt_user_name as crtUserName,
		pk.crt_time as crtTime,
		pk.source_type as sourceType,
		se.spe_name as speName,
		ag.grid_name as gridName,
		pk.status
		FROM
		patrol_task AS pk
		LEFT JOIN
		special_event AS se
		ON pk.source_task_id = se.id
		LEFT JOIN
		area_grid AS ag
		ON ag.id = pk.area_grid_id
		WHERE
		1=1
		<if
				test="patrolTask.sourceType !=null and patrolTask.sourceType!=''">
			AND pk.source_type = #{patrolTask.sourceType}
		</if>
		<if test="speName !=null and speName!=''">
			AND se.spe_name LIKE "%"#{speName}"%"
		</if>
		<!-- 巡查事项名称或者编码查询 -->
		<if test="patrolTask.patrolCode !=null and patrolTask.patrolCode !=''">
			AND (
			( pk.patrol_name LIKE "%"#{patrolTask.patrolCode}"%" )
			OR
			(pk.patrol_code LIKE "%"#{patrolTask.patrolCode}"%")
			)
		</if>
		<if test="patrolTask.patrolName !=null or patrolTask.patrolName!=''">
			AND (
			( pk.patrol_name LIKE "%"#{patrolTask.patrolName}"%" )
			OR
			(pk.patrol_code LIKE "%"#{patrolTask.patrolName}"%")
			)
		</if>
		<if test="patrolTask.bizTypeId!=null and patrolTask.bizTypeId!=''">
			AND pk.biz_type_id=#{patrolTask.bizTypeId}
		</if>
		<if test="patrolTask.status !=null and patrolTask.status!=''">
			AND pk.status=#{patrolTask.status}
		</if>
		<if test="startTime !=null or endTime != null">
			AND (
			#{startTime} <![CDATA[ <= ]]>
			pk.crt_time
			and pk.crt_time <![CDATA[ <= ]]>
			#{endTime}
			)
		</if>
		<if test="patrolTask.eventTypeId != null">
			AND pk.event_type_id=#{patrolTask.eventTypeId}
		</if>
		and
		(
			pk.crt_user_id=#{patrolTask.crtUserId}
			<if test="gridIdList != null and gridIdList.size() > 0">
				or
				pk.area_grid_id in (
				<foreach collection="gridIdList" item="item" separator=",">
					#{item}
				</foreach>
				)
			</if>
		)
		ORDER BY
		pk.crt_time DESC
	</select>
</mapper>