<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.bjzhianjia.scp.cgp.mapper.PublicManagementMapper">

	<!-- 可根据自己的需求，是否要使用 -->
	<resultMap
		type="com.bjzhianjia.scp.cgp.entity.PublicManagement"
		id="publicManagementMap">
		<result property="id" column="id" />
		<result property="netName" column="net_name" />
		<result property="netUrl" column="net_url" />
		<result property="iconUrl" column="icon_url" />
		<result property="orderNum" column="order_num" />
		<result property="crtUserName" column="crt_user_name" />
		<result property="crtUserId" column="crt_user_id" />
		<result property="crtTime" column="crt_time" />
		<result property="updUserName" column="upd_user_name" />
		<result property="updUserId" column="upd_user_id" />
		<result property="updTime" column="upd_time" />
		<result property="departId" column="depart_id" />
		<result property="tenantId" column="tenant_id" />
	</resultMap>

	<update id="remove">
		UPDATE public_management SET
		is_deleted='1',upd_user_id=#{updUserId},upd_user_name=#{updUserName},upd_time=#{updTime}
		WHERE id IN
		<foreach collection="ids" item="id" open="(" separator="," close=")">
    		#{id}
    	</foreach>
	</update>
</mapper>