<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bjzhianjia.scp.cgp.mapper.RegulaObjectMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.bjzhianjia.scp.cgp.entity.RegulaObject" id="regulaObjectMap">
        <result property="id" column="id"/>
        <result property="objCode" column="obj_code"/>
        <result property="objName" column="obj_name"/>
        <result property="objType" column="obj_type"/>
        <result property="objId" column="obj_id"/>
        <result property="objAddress" column="obj_address"/>
        <result property="linkman" column="linkman"/>
        <result property="linkmanPhone" column="linkman_phone"/>
        <result property="introduction" column="introduction"/>
        <result property="remark" column="remark"/>
        <result property="picBefore" column="pic_before"/>
        <result property="longitude" column="longitude"/>
        <result property="griId" column="gri_id"/>
        <result property="latitude" column="latitude"/>
        <result property="gatherer" column="gatherer"/>
        <result property="gatherTime" column="gather_time"/>
        <result property="bizList" column="biz_list"/>
        <result property="eventList" column="event_list"/>
        <result property="mapInfo" column="map_info"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="isDisabled" column="is_disabled"/>
        <result property="crtUserName" column="crt_user_name"/>
        <result property="crtUserId" column="crt_user_id"/>
        <result property="crtTime" column="crt_time"/>
        <result property="updUserName" column="upd_user_name"/>
        <result property="updUserId" column="upd_user_id"/>
        <result property="updTime" column="upd_time"/>
        <result property="tenantId" column="tenant_id"/>
    </resultMap>
    
    <!-- 通过范围查询监管对象列表 -->
    <resultMap type="com.bjzhianjia.scp.cgp.entity.RegulaObject" id="regulaObjDistance">
        <result property="id" column="id"/>
        <result property="objName" column="obj_name"/>
        <result property="objType" column="obj_type"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
    </resultMap>
    
    <update id="deleteByIds">
    	update regula_object set upd_user_id=#{updUserId},upd_user_name=#{updUserName},upd_time=#{updTime},is_deleted = '1' where id in
    	<foreach collection="ids" item="id" open="(" separator="," close=")">
    		#{id}
    	</foreach>
    </update>
    
    <select id="selectRegulaObjCountByType" resultType="java.util.Map">
    	SELECT COUNT(*) AS regulaCount,obj_type AS objType FROM regula_object WHERE is_deleted='0' GROUP BY obj_type
    </select>

    <select id="selectDistanceAll" resultMap="regulaObjDistance">
    	SELECT
			id,
			obj_name,
			obj_type,
			longitude,
			latitude
		FROM
			regula_object
    </select>
	
	<select id="selectByTypeAndGri" resultMap="regulaObjectMap">
		SELECT
			ro.id as id,
			ro.obj_name as obj_name
		FROM
			regula_object AS ro
		LEFT JOIN regula_object_type AS rot ON ro.obj_type = rot.id
		LEFT JOIN area_grid AS rg ON ro.gri_id = rg.id
		WHERE
			ro.obj_type IN (
			<if test="objType != null and objType != ''">
				#{objType}
			</if>
			)
		AND ro.gri_id IN (
			<if test="griIds != null and griIds != ''">
				#{griIds}
			</if>
		)
	</select>
</mapper>