<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhonghuilv.aitravel.order.service.mapper.RegulaObjectTypeMapper">
  <resultMap id="baseResultMap" type="com.zhonghuilv.aitravel.order.intf.pojo.RegulaObjectType">
       <result column="id" jdbcType="INTEGER" property="id"/>
       <result column="object_type_code" jdbcType="VARCHAR" property="objectTypeCode"/>
       <result column="object_type_name" jdbcType="VARCHAR" property="objectTypeName"/>
       <result column="parent_object_type_id" jdbcType="VARCHAR" property="parentObjectTypeId"/>
       <result column="is_enable" jdbcType="VARCHAR" property="isEnable"/>
       <result column="is_deleted" jdbcType="BOOLEAN" property="isDeleted"/>
       <result column="crt_user_name" jdbcType="VARCHAR" property="crtUserName"/>
       <result column="crt_user_id" jdbcType="VARCHAR" property="crtUserId"/>
       <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime"/>
       <result column="upd_user_name" jdbcType="VARCHAR" property="updUserName"/>
       <result column="upd_user_id" jdbcType="VARCHAR" property="updUserId"/>
       <result column="upd_time" jdbcType="TIMESTAMP" property="updTime"/>
       <result column="tenant_id" jdbcType="VARCHAR" property="tenantId"/>
       <result column="depart_id" jdbcType="VARCHAR" property="departId"/>
  </resultMap>
    <sql id="selectAll">
            id,
            object_type_code,
            object_type_name,
            parent_object_type_id,
            is_enable,
            is_deleted,
            crt_user_name,
            crt_user_id,
            crt_time,
            upd_user_name,
            upd_user_id,
            upd_time,
            tenant_id,
            depart_id,
    </sql>

    <sql id="parmAll">
        <if test="id != null">
            AND id = id
        </if>
        <if test="objectTypeCode != null">
            AND object_type_code = objectTypeCode
        </if>
        <if test="objectTypeName != null">
            AND object_type_name = objectTypeName
        </if>
        <if test="parentObjectTypeId != null">
            AND parent_object_type_id = parentObjectTypeId
        </if>
        <if test="isEnable != null">
            AND is_enable = isEnable
        </if>
        <if test="isDeleted != null">
            AND is_deleted = isDeleted
        </if>
        <if test="crtUserName != null">
            AND crt_user_name = crtUserName
        </if>
        <if test="crtUserId != null">
            AND crt_user_id = crtUserId
        </if>
        <if test="crtTime != null">
            AND crt_time = crtTime
        </if>
        <if test="updUserName != null">
            AND upd_user_name = updUserName
        </if>
        <if test="updUserId != null">
            AND upd_user_id = updUserId
        </if>
        <if test="updTime != null">
            AND upd_time = updTime
        </if>
        <if test="tenantId != null">
            AND tenant_id = tenantId
        </if>
        <if test="departId != null">
            AND depart_id = departId
        </if>
    </sql>
</mapper>