package ${package}.config;

import com.codingapi.tx.springcloud.feign.TransactionRestTemplateInterceptor;
import com.bjzhianjia.scp.security.auth.client.interceptor.ServiceFeignInterceptor;
import feign.RequestInterceptor;
import org.springframework.context.annotation.Bean;

/**
 * @author scp
 * @version 1.0
 */
public class TxFeignConfiguration {
    @Bean
    public RequestInterceptor requestInterceptor(){
        return new TransactionRestTemplateInterceptor();
    }

    @Bean
    public ServiceFeignInterceptor serviceFeignInterceptor(){
        return new ServiceFeignInterceptor();
    }
}
