<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjzhianjia.scp.security.admin.mapper.JudicialUserMapper">
    <resultMap id="BaseResultMap" type="com.bjzhianjia.scp.security.admin.entity.User">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="birthday" jdbcType="VARCHAR" property="birthday"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="mobile_phone" jdbcType="VARCHAR" property="mobilePhone"/>
        <result column="tel_phone" jdbcType="VARCHAR" property="telPhone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="sex" jdbcType="CHAR" property="sex"/>
        <result column="type" jdbcType="CHAR" property="type"/>
        <result column="order_num" javaType="INTEGER" property="orderNum"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result property="crtUserName" column="crt_user_name"/>
        <result property="crtUserId" column="crt_user_id"/>
        <result property="crtTime" column="crt_time"/>
        <result property="updUserName" column="upd_user_name"/>
        <result property="updUserId" column="upd_user_id"/>
        <result property="updTime" column="upd_time"/>
        <result column="attr1" jdbcType="VARCHAR" property="attr1"/>
        <result column="attr2" jdbcType="VARCHAR" property="attr2"/>
        <result column="attr3" jdbcType="VARCHAR" property="attr3"/>
        <result column="attr4" jdbcType="VARCHAR" property="attr4"/>
        <result column="attr5" jdbcType="VARCHAR" property="attr5"/>
        <result column="attr6" jdbcType="VARCHAR" property="attr6"/>
        <result column="attr7" jdbcType="VARCHAR" property="attr7"/>
        <result column="attr8" jdbcType="VARCHAR" property="attr8"/>
        <result column="depart_id" jdbcType="VARCHAR" property="departId"/>
        <result column="is_deleted" jdbcType="VARCHAR" property="isDeleted"/>
        <result column="is_disabled" jdbcType="VARCHAR" property="isDisabled"/>
        <result column="is_super_admin" jdbcType="VARCHAR" property="isSuperAdmin"/>
        <result column="tenant_id" jdbcType="VARCHAR" property="tenantId"/>
    </resultMap>

    <!-- 获取分案人总数 -->
    <select id="selectUserByDepartAndGroup" resultType="java.lang.Integer">
        SELECT
        count(bu.id) count
        FROM
        base_user bu
        INNER JOIN base_depart bd ON bd.id = bu.depart_id
        AND bd.id=#{departId}
        INNER JOIN base_group_member bgm ON bu.id = bgm.user_id
        AND bgm.group_id=#{groupId}
        WHERE
        bu.is_deleted=0
    </select>
    <!--获取指定角色列表-->
    <select id="selectMajorUser" resultType="java.util.Map">
        SELECT
        bu.id userId,
        bu.name userName,
        bu.attr2 major,
        ba1.name areaProvince,
        ba2.name areaCity,
        bd.name departName
        FROM
        base_user bu
        LEFT JOIN base_depart bd ON bu.depart_id = bd.id
        LEFT JOIN base_areainfo ba1 ON bd.attr1=ba1.id
        LEFT JOIN base_areainfo ba2 ON bd.attr2=ba2.id
        INNER JOIN base_group_member bgm ON bgm.user_id = bu.id
        AND bgm.group_id = #{groupId}
        WHERE
        bu.is_deleted=0
        <if test="user.name!=null and user.name!=''">
            <bind name="userNameLike" value="'%' + user.name + '%'"/>
            AND bu.name like #{userNameLike}
        </if>
        <if test="departIds!=null and departIds!=''">
            AND bu.depart_id IN (#{departIds})
        </if>
        <!--专业-->
        <if test="user.attr2!=null and user.attr2!=''">
            AND bu.attr2 = #{user.attr2}
        </if>
        <!--省级-->
        <if test="user.attr3!=null and user.attr3!=''">
            AND bgm.attr3 = #{user.attr3}
        </if>
    </select>

    <!--获取排除指定角色的列表-->
    <select id="selectUserDebarRole" resultType="java.util.Map">
        SELECT
        bu.id userId,
        bu.name name,
        bu.attr2 major,
        bu.username username,
        bu.password password,
        bu.mobile_phone mobilePhone,
        ba1.name areaProvince,
        bd.name departName,
        bu.crt_user_id,
        bu.tenant_id
        FROM
        base_user bu
        INNER JOIN base_group_member bgm ON bgm.user_id = bu.id
        AND bgm.group_id != #{groupId}
        LEFT JOIN base_depart bd ON bu.depart_id = bd.id
        LEFT JOIN base_areainfo ba1 ON bu.attr3=ba1.id
        WHERE
        bu.is_deleted=0
        <if test="user.name!=null and user.name!=''">
            <bind name="userNameLike" value="'%' + user.name + '%'"/>
            AND bu.name like #{userNameLike}
        </if>
        <!--专业-->
        <if test="user.attr2!=null and user.attr2!=''">
            AND bu.attr2 = #{user.attr2}
        </if>
        <!--省级-->
        <if test="user.attr3!=null and user.attr3!=''">
            AND bgm.attr3 = #{user.attr3}
        </if>
        <!--所属部门id-->
        <if test="user.departId!=null and user.departId!=''">
            AND bu.depart_id = #{user.departId}
        </if>
        GROUP BY
        userId,
        name,
        major,
        password,
        mobilePhone,
        departName,
        crt_user_id,
        tenant_id
    </select>

</mapper>