<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjzhianjia.scp.security.admin.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.bjzhianjia.scp.security.admin.entity.User">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="birthday" jdbcType="VARCHAR" property="birthday" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="mobile_phone" jdbcType="VARCHAR" property="mobilePhone" />
    <result column="tel_phone" jdbcType="VARCHAR" property="telPhone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="order_num" javaType="INTEGER" property="orderNum"/>
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result property="crtUserName" column="crt_user_name"/>
    <result property="crtUserId" column="crt_user_id"/>
    <result property="crtTime" column="crt_time"/>
    <result property="updUserName" column="upd_user_name"/>
    <result property="updUserId" column="upd_user_id"/>
    <result property="updTime" column="upd_time"/>
    <result column="attr1" jdbcType="VARCHAR" property="attr1" />
    <result column="attr2" jdbcType="VARCHAR" property="attr2" />
    <result column="attr3" jdbcType="VARCHAR" property="attr3" />
    <result column="attr4" jdbcType="VARCHAR" property="attr4" />
    <result column="attr5" jdbcType="VARCHAR" property="attr5" />
    <result column="attr6" jdbcType="VARCHAR" property="attr6" />
    <result column="attr7" jdbcType="VARCHAR" property="attr7" />
    <result column="attr8" jdbcType="VARCHAR" property="attr8" />
    <result column="depart_id" jdbcType="VARCHAR" property="departId" />
    <result column="is_deleted" jdbcType="VARCHAR" property="isDeleted"/>
    <result column="is_disabled" jdbcType="VARCHAR" property="isDisabled"/>
    <result column="is_super_admin" jdbcType="VARCHAR" property="isSuperAdmin"/>
    <result column="tenant_id" jdbcType="VARCHAR" property="tenantId"/>
  </resultMap>
  
  <select id="selectMemberByGroupId" resultMap="BaseResultMap">
    select u.username,u.name,u.id from base_user u
    left join  base_group_member gm
    on gm.user_id = u.id
	where
	    u.is_deleted='0'
      AND gm.group_id = #{groupId}
  </select>
  <select id="selectLeaderByGroupId" resultMap="BaseResultMap">
    select u.username,u.name,u.id from base_user u
    left join base_group_leader gm
    on gm.user_id = u.id
	where
	  u.is_deleted='0'
      AND gm.group_id = #{groupId}
  </select>
  <select id="selectUserDataDepartIds" resultType="java.lang.String">
    select bd.id from base_depart bd
    inner join
    base_position_depart bpd
    on bpd.depart_id = bd.id
    inner join base_position_user bpu
    on bpd.position_id = bpu.position_id
    where bpu.user_id = #{userId}
  </select>
  
  <!-- 根据用户username获取departId -->
  <select id="selectDepartIdByUserId" resultType="java.lang.String">
    select u.depart_id from base_user u 
    where
	  u.is_deleted='0'
      AND u.id = #{userid}
  </select>
  
  <!-- 根据用户username获取tenantId -->
  <select id="selectTenantIdByUserId" resultType="java.lang.String">
    select u.tenant_id from base_user u 
    where
	  u.is_deleted='0'
      AND u.id = #{userid}
  </select>
  
  <!-- 根据用户username获取leader 角色Id -->
  <select id="selectLearderGroupCodesByUserId" resultType="java.lang.String">
    SELECT gl.group_id FROM base_group_leader gl
    WHERE gl.user_id = #{userid}
  </select>
  <!-- 根据用户username获取member 角色Id -->
  <select id="selectMemberGroupCodesByUserId" resultType="java.lang.String">
    SELECT gm.group_id FROM base_group_member gm
    WHERE gm.user_id = #{userid}
  </select>
  
  <!-- 获取用户详情，包括部门及岗位 -->
  <select id="getUserDetail" resultType="java.util.Map">
	SELECT bu.`name` userName,bu.`id` userId,bu.`sex`,bu.`mobile_phone` mobilePhone,
	bd.`name` deptName,bd.`id` deptId,
	bp.`name` positionName,bp.`id` positionId,
	bg.`name` groupName,bg.`id` groupId
	FROM base_user bu
	LEFT JOIN base_depart_user dbu ON dbu.`user_id`=bu.`id`
	LEFT JOIN base_depart bd ON bd.`id`=dbu.`depart_id`
	LEFT JOIN base_position_user bpu ON bpu.`user_id`=bu.`id`
	LEFT JOIN base_position bp ON bp.`id`=bpu.`position_id`
	LEFT JOIN base_group_leader bgl ON bgl.`user_id`=bd.`id`
	LEFT JOIN base_group bg ON bg.`id`=bgl.`group_id`
	WHERE
	  bu.is_deleted='0'
      AND
	  bu.`id` in (${userId})
  </select>
  
  <!-- 按组查询用户 -->
  <select id="getUserByPosition" resultType="com.alibaba.fastjson.JSONObject">
  	SELECT bu.`id`,bu.`name` userName,bu.`mobile_phone`,bd.`name` departName,bp.`name` positionName
	FROM base_group bg
	JOIN base_group_leader bgl ON bgl.`group_id`=bg.`id`
	JOIN base_user bu ON bu.`id`=bgl.`user_id`
	LEFT JOIN base_depart_user bdu ON bdu.`user_id`=bu.`id`
	LEFT JOIN base_depart bd ON bd.`id`=bdu.`depart_id`
	LEFT JOIN base_position_user bpu ON bpu.`user_id`=bu.`id`
	LEFT JOIN base_position bp ON bp.`id`=bpu.`position_id`
	WHERE
        bu.is_deleted='0'
        AND bg.`code`=#{groupCode}
  </select>
	<!-- 获取用户列表，排除超级管理员 -->
	<select id="selectPhoneList" resultType="java.util.Map">
		SELECT
			bu.id userId,
			bu.`name` userName,
			bu.mobile_phone mobilePhone,
			<!-- bd.`name` deptName, -->
            bd.id deptId,
			bu.attr1 image,
           <!-- 防止sql验证 -->
            bu.crt_user_id crt_user_id,
            bu.tenant_id tenant_id
		FROM
			base_user bu
        LEFT JOIN base_depart_user bdu ON bdu.user_id = bu.id
        LEFT JOIN base_depart bd ON bd.id = bdu.depart_id
		WHERE
			bu.is_deleted = '0'
		AND bu.is_disabled = '0'
		AND bu.is_super_admin = '0'
		<if test="userName != null and userName != '' ">
			<bind name="name" value="'%'+userName+'%'"/>
			AND bu.name LIKE #{name}
		</if>
		<if test="deptIds != null and deptIds.size > 0 ">
			AND bd.id IN
			<foreach collection="deptIds" item="id" open="(" separator="," close=")">
				#{id}
			</foreach>
		</if>
        GROUP BY
            bu.id,
            bu.`name`,
            bu.mobile_phone,
            bd.`id`,
            bu.attr1,
            bu.crt_user_id,
            bu.tenant_id
		ORDER BY
			bu.crt_time DESC,
			bu.upd_time DESC
	</select>

    <!-- 按组ID集合获取用户 -->
    <select id="selectLeaderOrMemberByGroupId" resultType="com.alibaba.fastjson.JSONObject">
        select bu.id userId,bu.name userName
        from base_user bu
        left join `base_group_leader` bgl on bgl.user_id=bu.id
        left join `base_group_member` bgm on bgm.user_id=bu.id
        where
	      bu.is_deleted='0'
	    AND
	    bgl.group_id in (
        <foreach collection="groupIdSet" item="item" separator=",">
            #{item}
        </foreach>
        )
        or bgm.group_id in (
        <foreach collection="groupIdSet" item="item" separator=",">
            #{item}
        </foreach>
        )
    </select>

    <!-- 按部门ID集合查询用户信息 -->
    <select id="selectUserListByDepts" resultType="com.alibaba.fastjson.JSONObject">
        SELECT bu.id userId,bu.name userName
        FROM base_user bu
        LEFT JOIN base_depart_user bdu ON bdu.`user_id`=bu.`id`
        WHERE
	    bu.is_deleted='0'
	    AND
	    bdu.`depart_id` IN (
        <foreach collection="deptSet" item="item" separator=",">
            #{item}
        </foreach>
        )
    </select>

    <!-- 按组CODE集合获取用户 -->
    <select id="selectLeaderOrMemberByGroupCode" resultType="com.alibaba.fastjson.JSONObject">
        SELECT bu.id userId,bu.name userName
        FROM base_user bu
        LEFT JOIN `base_group_leader` bgl ON bgl.user_id=bu.id
        LEFT JOIN `base_group_member` bgm ON bgm.user_id=bu.id
        LEFT JOIN `base_group` bg ON (bg.`id`=bgl.`group_id` OR bg.`id`=bgm.`group_id`)
        WHERE
        bu.is_deleted='0'
        AND
        bg.`code` IN (
        <foreach collection="groupCodeSet" item="item" separator=",">
            #{item}
        </foreach>
        )
    </select>
</mapper>